
<section class="intro">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                  <% if user_signed_in? %>

                  <%= render 'shared/new_showboard_button' %>

                  <% if @boards %>
                  <ul class="board-list">
                    <%= render 'shared/user_board_list' %>
                  </ul>
                  <% end %>

                  <% if @shows %>
                  <h1><%= link_to @board.name, @board %></h1>
                  <%= render 'shared/board_shows_list' %>


                  <% end %>


                  <% else %>
                    <h1 class="brand-heading">Showboarder</h1>
                    <p class="intro-text">List, promote, and sell <i>fee free</i> tickets to shows at your venue.</p>
                      <div class="col-sm-6">
                        <%= link_to "Create a Showboard Now", new_user_registration_path, class: "btn btn-default btn-lg btn-front" %>
                      </div>

                      <div class="col-sm-6">
                        <%= link_to "Learn More", about_path, class: "btn btn-default btn-lg btn-front" %>
                      </div>
                      <% end %>
                </div>
            </div>
        </div>
    </div>
</section>