<h2>Sign up</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email, :autofocus => true %></div>

  <div><%= f.label :name, "Full Name (Used for will call - must match your photo ID)" %> <br />
  <%= f.text_field :name %>

  <div><%= f.label :password %><br />
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div>

  <% if @reserve_code != "" %>

  <%= f.hidden_field :reserve_code, :value => @reserve_code %>

  <% end %>

  <div><%= f.submit "Sign up" %></div>
<% end %>

<%= @reserve_code || "doop1" %>
<br>
<%= @reserve_show || "doop2" %>
<br>

<%= render "devise/shared/links" %>
