<%= javascript_include_tag :eForm %>
<section>
  <div class="container eternity-form">
    <div class="login-form-section">
      <div class="login-content">
        <div class="section-title">
          <h3>Sign In</h3>
        </div>
        
        <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
          <div class="textbox-wrap">
            <div class="input-group">
              <span class="input-group-addon "><i class="fa fa-user fa-color"></i></span>
              <%= f.email_field :email, :autofocus => true, class: "form-control", :placeholder => "Email" %>
            </div>
          </div>

          <div class="textbox-wrap">
            <div class="input-group">
              <span class="input-group-addon "><i class="fa fa-key icon-color"></i></span>
              <%= f.password_field :password, class: "form-control", :placeholder => "Password" %>
            </div>
          </div>

          <div class="login-form-action clearfix">
            <% if devise_mapping.rememberable? -%>              
              <div class="checkbox pull-left">
                <div class="custom-checkbox">
                  <!-- <input type="checkbox" checked name="iCheck"> -->
                  <%= f.check_box :remember_me, :checked => "checked" %>
                </div>
                <span class="checkbox-text pull-left">Remember Me</span>
              </div>
            <% end -%>
            <button type="submit" class="btn btn-success pull-right green-btn">LogIn &nbsp; <i class="icon-chevron-right"></i></button>
          </div>
          <% if @reserve_code != "" %>

            <%= f.hidden_field :reserve_code, :value => @reserve_code %>

          <% end %>  
        <% end %>
      </div>

      <div class="login-form-links link1">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</section>