simple

<%= simple_form_for @board do |f| %>
  <%= f.input :name, label: 'Board Name' %>
  <%= f.input :vanity_url, label: 'Vanity Url' %>
  <%= f.simple_fields_for :stages do |ff| %>

    <%= ff.input :capacity, label:'Capacity' %>
    <%= ff.input :places_formatted_address_short, label:'Location', :placeholder => "Enter a location", input_html: { :id => "pac-input", :class=>"controls"} %>
    <div id="map-canvas"></div>
    <div id="map-plz">
      Please make sure the appropriate location is pinned on the map above before continuing.
    </div>
    <%= ff.input :places_reference, as:"hidden" %>
    <% end %>

  <%= f.button :submit %>
<% end %>