stages

<div class="form-group" id="stage-count">
  <label>Does your venue have one stage or multiple stages?</label> 
  <div class="radio">
    <label>
      <input type="radio" name="stageCount" id="one-stage" value="one-stage">
      One stage
    </label>
  </div>
  <div class="radio">
    <label>
      <input type="radio" name="stageCount" id="multiple-stages" value="multiple-stages">
      Multiple stages
    </label>
  </div>
</div>


<%= simple_nested_form_for @board do |f| %>
<%= f.input :name, label: 'Board Name' %>
<%= f.input :vanity_url, label: 'Vanity Url' %>
<%= f.fields_for :stages do |ff| %>

  <%= ff.input :capacity, label:'Capacity' %>
  <%= ff.input :places_formatted_address_short, label:'Location', :placeholder => "Enter a location", input_html: { :id => "pac-input", :class=>"controls"} %>
  <div id="map-canvas"></div>
  <div id="map-plz">
    Please make sure the appropriate location is pinned on the map above before continuing.
  </div>
  <%= ff.input :places_reference, as:"hidden" %>
  <%= ff.link_to_remove "Remove this stage" %>
  <% end %>
  <p><%= f.link_to_add "Add a stage", :stages %></p>

<%= f.button :submit %>
<% end %>