<%= javascript_include_tag :eFormFocus %>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script>
<section>
  <div class="container eternity-form">
    <div class="new-board-section">
      <div class="login-content text-center">
        <div class="section-title">
          <h3>Edit <%= link_to @board.name, @board %> Showboard</h3>
        </div>
        <%= simple_nested_form_for @board do |f| %>
          <div class="clearfix">
            <div class="textbox-wrap">
              <div class="input-group">
                <span class="input-group-addon "><i class="fa fa-user fa-color"></i></span>
                <%= f.text_field :name, :autofocus => true, class: "form-control", :placeholder => "Board Name" %>
              </div>
            </div>

            <div class="textbox-wrap">
              <div class="input-group">
                <span class="input-group-addon tight"><i class="fa fa-link fa-vanity"></i>showboarder.com/</span>
                <%= f.text_field :vanity_url, class: "form-control", style: "padding-left:2px;", :placeholder => "Custom Url" %>
              </div>
            </div>

            <div class="textbox-wrap">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-envelope fa-color"></i></span>
                <%= f.email_field :email, class: "form-control", :placeholder => "My Venue's Contact email (optional)" %>
              </div>
            </div>

            <div class="textbox-wrap">
              <%= f.label :header_image %>
              <%= f.file_field :header_image %>
            </div>
            <br>

            <%= f.fields_for :ext_links do |ext| %>
              <%= ext.select :ext_site, options_for_select(%w[Twitter Facebook Youtube Instagram], ext.object.ext_site), {}, {:class => "form-control ext-link-select"} %>
              <%= ext.input :url, input_html: {:class => "ext-link-url"}, input_html: {:style => "display:inline;max-width:300px;", :placeholder => "URL"}, label: false %>
              <%= ext.link_to_remove "<i class=\"fa fa-minus-circle\"></i>".html_safe, class: "btn-ext-link-remove" %>
            <% end %>  

          <div class="form-group">
            <%= f.link_to_add "<i class=\"fa fa-plus\"></i>Add a link (Facebook, Twitter, etc.)".html_safe, :ext_links, :class => "btn btn-success" %>
          </div>

          <%= f.fields_for :stages, @board.stages.first do |ff| %>

            <div class="textbox-wrap">
                
                <%= ff.input :capacity, input_html: {class:"form-control bfh-number", data_min: "0", value: @board.stages.first.capacity}, label: "Capacity (number of tickets available for each show)" %>
              </div> 
            
          <% end %>

          <%= f.button :submit, :class => "btn btn-primary btn-create-board" %>

          <p class="text-center"><%= link_to "Delete Board", @board, method: :delete, id: @board.id,
                                         data: { confirm: "Are you sure you would like to delete this board?  This cannot be undone." },
                                         title: @board.vanity_url, class: "btn btn-large btn-danger" %></p>

        <% end %>
      </div>
    </div>
  </div>
</div>
</section>