<section>
<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <h2>Edit Showboard</h2>

      <%= simple_form_for @board do |f| %>

      <%= f.input :name %>

      <%= f.input :vanity_url %>

      <%= f.collection_radio_buttons :state, [['public', 'Public'], ['private', 'Private']], :first, :last, :item_wrapper_class => 'radio-inline' %>

      <br>
      <br>

      <%= f.button :submit %>

      <% end %>
    </div>
  </div>
</div>
</section>