<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script>
<div class="container">
  <div class="row">
    <div class="col-sm-12">
    <h2>Create a new Showboard</h1>
      <%= form_for(@board) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
        
        <%= f.label :name, "Board Name" %>
        <%= f.text_field :name %>

        <%= f.label :vanity_url %>
        showboarder.com/ <%= f.text_field :vanity_url %>

        <%= f.fields_for :stages do |ff| %>
          <%= ff.label :capacity, "Capacity" %>
          <%= ff.text_field :capacity, :val => ff.object.capacity.to_i %>

          <%= ff.label :places_formatted_address_short, "Location" %>
          <%= ff.text_field :places_formatted_address_short, :id => "pac-input", :class=>"controls", :placeholder => "Enter a location" %>
          <div id="map-canvas"></div>

          <div id="map-plz">
            Please make sure the appropriate location is pinned on the map above before continuing.
          </div>

          <%= ff.hidden_field :places_reference %>

        <% end %>

        <%= f.submit "Create board", class: "btn btn-large btn-primary" %>
      <% end %>
    </div>
  </div>
<!--   <div class="row">
    <div class="col-sm-12">
      <input id="pac-input" class="controls" type="text" placeholder="Enter a location">
      <div id="map-canvas"></div>
    </div>
  </div> -->
</div>