<%= javascript_include_tag :boardForm %>
<%= javascript_include_tag :eFormFocus %>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script>
<section>
  <div class="container eternity-form">
    <div class="new-board-section">
      <div class="login-content text-center">
        <div class="section-title">
          <h3>Create a new Showboard</h3>
        </div>
        <%= simple_nested_form_for @board, html:{id:"board-form"} do |f| %>
          <%= render 'shared/error_messages', object: f.object %>
          <div id="form-errors" class="alert alert-warning" style="display:none;">
          </div>

          <div class="clearfix">
            <div class="textbox-wrap">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-user fa-color"></i></span>
                <%= f.text_field :name, :autofocus => true, class: "form-control", :placeholder => "My Venue's Name" %>
              </div>
            </div>

            <div class="textbox-wrap">
              <div class="input-group">
                <span class="input-group-addon tight"><i class="fa fa-link fa-vanity"></i>showboarder.com/</span>
                <%= f.text_field :vanity_url, class: "form-control", style: "padding-left:2px;", :placeholder => "Custom Showboard URL" %>
              </div>
            </div>

            <div class="textbox-wrap">
              <%= f.label :header_image, "Showboard Header Image (Recommended 1800px × 780px, < 1MB)" %>
              <br>
              <%= f.file_field :header_image %>
            </div>
            <br>

            <label>Your venue's links elsewhere online (Twitter, Facebook, etc.)</label>
            <%= f.fields_for :ext_links do |ext| %>
              <%= ext.select :ext_site, options_for_select(%w[Facebook Twitter Homepage Youtube Instagram]), {}, {:class => "form-control ext-link-select"} %>
              <%= ext.input :url, input_html: {:class => "ext-link-url"}, input_html: {:style => "display:inline;max-width:300px;", :placeholder => "URL"}, label: false %>
              <%= ext.link_to_remove "<i class=\"fa fa-minus-circle\"></i>".html_safe, class: "btn-ext-link-remove" %>
            <% end %>

            <%= f.link_to_add "Add Another Link", :ext_links, :id =>"btn-add-link", :class => "btn btn-primary" %>
            <br>
            <br>
            <%= f.fields_for :stages do |ff| %>
              <div class="textbox-wrap">
                
                <%= ff.input :capacity, input_html: {class:"form-control bfh-number", data_min: "0", value: "100"}, label: "Capacity (number of tickets available for each show)" %>
              </div>



              <%= ff.input :places_formatted_address_short, label:'Pin Your Venue\'s Location', :placeholder => "Enter a location", input_html: { :id => "pac-input", :class=>"controls"} %>
              <div id="map-canvas"></div>
              <div id="map-plz">
                Please make sure the appropriate location is pinned on the map above before continuing.
              </div>
              <%= ff.input :places_reference, as:"hidden" %>
            <% end %>

            <%= f.button :submit, :class => "btn btn-primary btn-create-board" %>
          <% end %>
        </div>
      </div>
    </div>

  </div>
</section>