<div class="row">
  <% if user_signed_in? && current_user.boarder?(@board) %>
    <div class="col-xs-6 col-xs-offset-3 text-center board-header vcenter">
      <h1><%= @board.name %></h1>
    </div><!--
  --><div class="col-xs-3 text-right vcenter">
      <%= link_to "Add a new show", new_board_show_path(@board), class: "btn btn-primary" %>
    <% if !@board.paid? %>
      <%= render 'boards/enable_ticketing_button' %>
    <% end %>
  </div>
  <% else %>
    <div class="col-xs-12 text-center vcenter board-header">
      <h1><%= @board.name %></h1>
    </div>
  <% end %>
</div>


<div class="row">
  <div class="col-md-12">
    <hr>
  </div>
</div>
<%= render @shows %>
<%= will_paginate @shows %>