  <!-- This sample uses a basic parallax section as the header instead of one of the built in header's! -->
  <section class="bg-parallax-dark" style="background-image: url(<%= asset_path "spectrum/demo-bgs/app-demo-bg2.jpg" %>);" data-stellar-background-ratio="0.5" data-stellar-vertical-offset="50">
    <div class="container">
      <div class="padding-top hidden-xs"></div>
      <div class="row">
        <div class="col-md-6 col-md-offset-3 text-center" data-scrollreveal="enter left over 1s">
          <h1><%= @board.name %></h1>
          <p><%= @board.stages.first.place.formatted_address %></p>
        </div>
      </div>
    </div>
  </section>

  <section id="features" class="services-3 bg-lighter">
    <div class="container">
      <div class="row text-center">
        <div class="col-lg-12">
          <h2>Shows</h2>
          <hr class="primary">
          <br>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <img class="img-responsive img-centered" src="<%= asset_path "spectrum/demo-services/art.png" %>" alt="">
          <h3>Art Direction</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div>
        <div class="col-md-4">
          <img class="img-responsive img-centered" src="<%= asset_path "spectrum/demo-services/barchart.png" %>" alt="">
          <h3>Analytics</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div>
        <div class="col-md-4">
          <img class="img-responsive img-centered" src="<%= asset_path "spectrum/demo-services/browser.png" %>" alt="">
          <h3>Cross Browser</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <img class="img-responsive img-centered" src="<%= asset_path "spectrum/demo-services/camera.png" %>" alt="">
          <h3>Photography</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div>
        <div class="col-md-4">
          <img class="img-responsive img-centered" src="<%= asset_path "spectrum/demo-services/computer.png" %>" alt="">
          <h3>Computer</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div>
        <div class="col-md-4">
          <img class="img-responsive img-centered" src="<%= asset_path "spectrum/demo-services/lightbulb.png" %>" alt="">
          <h3>Great Ideas</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div>
      </div>
    </div>
  </section>

  <section class="portfolio-2">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center" data-scrollreveal="move 0 over 1s">
          <h2>Multi-Platform</h2>
          <hr class="primary">
          <p>Our application works on mobile devices, tablets, laptops, and desktop workstations. Store all of your data in our secure cloud database, and access your work from anywhere!</p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12" data-scrollreveal="enter bottom over 1s">
          <div id="portfolio-2-carousel">
            <div class="item">
              <img class="img-responsive" src="<%= asset_path "spectrum/demo-devices/ipad.png" %>" alt="">
            </div>
            <div class="item">
              <img class="img-responsive" src="<%= asset_path "spectrum/demo-devices/macbook-air.png" %>" alt="">
            </div>
            <div class="item">
              <img class="img-responsive" src="<%= asset_path "spectrum/demo-devices/iphones.png" %>" alt="">
            </div>
            <div class="item">
              <img class="img-responsive" src="<%= asset_path "spectrum/demo-devices/imac.png" %>" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
  </section>

  <section class="clients bg-dark">
    <div class="container">
      <div class="row text-center">
        <div class="col-lg-12" data-scrollreveal="move 0 over 1s">
          <h2>As Seen On</h2>
          <hr class="light">
        </div>
        <div class="col-lg-12" data-scrollreveal="enter bottom over 1s">
          <ul id="clients-carousel" class="text-center">
            <li class="item">
              <img class="img-responsive" src="<%= asset_path "spectrum/demo-clients/1.png" %>" alt="">
            </li>
            <li class="item">
              <img class="img-responsive" src="<%= asset_path "spectrum/demo-clients/2.png" %>" alt="">
            </li>
            <li class="item">
              <img class="img-responsive" src="<%= asset_path "spectrum/demo-clients/3.png" %>" alt="">
            </li>
            <li class="item">
              <img class="img-responsive" src="<%= asset_path "spectrum/demo-clients/4.png" %>" alt="">
            </li>
            <li class="item">
              <img class="img-responsive" src="<%= asset_path "spectrum/demo-clients/5.png" %>" alt="">
            </li>
            <li class="item">
              <img class="img-responsive" src="<%= asset_path "spectrum/demo-clients/6.png" %>" alt="">
            </li>
            <li class="item">
              <img class="img-responsive" src="<%= asset_path "spectrum/demo-clients/7.png" %>" alt="">
            </li>
            <li class="item">
              <img class="img-responsive" src="<%= asset_path "spectrum/demo-clients/8.png" %>" alt="">
            </li>
            <li class="item">
              <img class="img-responsive" src="<%= asset_path "spectrum/demo-clients/9.png" %>" alt="">
            </li>
            <li class="item">
              <img class="img-responsive" src="<%= asset_path "spectrum/demo-clients/10.png" %>" alt="">
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section id="pricing" class="pricing-1">
    <div class="container">
      <div class="row text-center" data-scrollreveal="move 0 over 1s">
        <div class="col-md-8 col-md-offset-2">
          <h2>Pricing</h2>
          <hr class="primary">
          <p>Three licensing options are availalbe for the Spectrum Template. A single application license, a multiple application license, and an extended license are the three options availalbe.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 pricing-col" data-scrollreveal="enter left over 1s">
          <div class="pricing-table">
            <div class="pricing-heading" style="background-image: url('<%= asset_path "spectrum/demo-pricing/1.jpg" %>')">
              <h2>Single</h2>
            </div>
            <div class="content">
              <div class="price">
                <span class="amount">$15</span>
                <span class="period">one time</span>
              </div>
              <ul class="pricing-items list-unstyled text-center">
                <li class="item">Single Installation</li>
                <li class="item">
                  <span class="text-primary">Fully Responsive</span> Design</li>
                <li class="item">Dedicated Email Support</li>
                <li class="item">Complete
                  <span class="text-primary">CSS and LESS</span> Files Included</li>
                <li class="item">Full Documentation and Usage Instructions</li>
                <li class="pricing-button">
                  <a href="#" class="btn btn-primary btn-square btn-raised">Buy Now</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-4 pricing-col" data-scrollreveal="enter top over 1s">
          <div class="pricing-table featured">
            <div class="pricing-heading" style="background-image: url('<%= asset_path "spectrum/demo-pricing/2.jpg" %>')">
              <h2>Multiple</h2>
            </div>
            <div class="content">
              <div class="price">
                <span class="amount">$55</span>
                <span class="period">one time</span>
              </div>
              <ul class="pricing-items list-unstyled text-center">
                <li class="item">Multiple Installations</li>
                <li class="item">
                  <span class="text-primary">Fully Responsive</span> Design</li>
                <li class="item">Dedicated Email Support</li>
                <li class="item">Complete
                  <span class="text-primary">CSS and LESS</span> Files Included</li>
                <li class="item">Full Documentation and Usage Instructions</li>
                <li class="pricing-button">
                  <a href="#" class="btn btn-primary btn-square btn-raised">Buy Now</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-4 pricing-col" data-scrollreveal="enter right over 1s">
          <div class="pricing-table">
            <div class="pricing-heading" style="background-image: url('<%= asset_path "spectrum/demo-pricing/1.jpg" %>')">
              <h2>Extended</h2>
            </div>
            <div class="content">
              <div class="price">
                <span class="amount">$650</span>
                <span class="period">one time</span>
              </div>
              <ul class="pricing-items list-unstyled text-center">
                <li class="item">Multiple Installations, Sublicense, or Resell</li>
                <li class="item">
                  <span class="text-primary">Fully Responsive</span> Design</li>
                <li class="item">Dedicated Email Support</li>
                <li class="item">Complete
                  <span class="text-primary">CSS and LESS</span> Files Included</li>
                <li class="item">Full Documentation and Usage Instructions</li>
                <li class="pricing-button">
                  <a href="#" class="btn btn-primary btn-square btn-raised">Buy Now</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="screen-cta text-center bg-lighter">
    <div class="container">
      <div class="row">
        <div class="col-lg-12" data-scrollreveal="move 0 over 1s">
          <h2>Screen Call to Action</h2>
          <hr class="primary">
          <div data-scrollreveal="enter bottom move 200px over 1s">
            <img src="<%= asset_path "spectrum/call-to-action/screen.png" %>" alt="">
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="bg-primary">
    <div class="container">
      <div class="row text-center" data-scrollreveal="move 0 over 1s">
        <div class="col-lg-8 col-lg-offset-2">
          <h2>Welcome to Your New Website!</h2>
          <br>
          <a href="#" class="btn btn-default btn-lg btn-square btn-raised">Buy Spectrum!</a>
        </div>
      </div>
    </div>
  </section>

  <footer class="footer-1 text-center">
    <div class="upper">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <h2 class="script">Spectrum</h2>
            <address>
              <strong>Twitter, Inc.</strong>
              <br>795 Folsom Ave, Suite 600
              <br>San Francisco, CA 94107
              <br>
              <abbr title="Phone">P:</abbr>(123) 456-7890
            </address>
          </div>
          <div class="col-md-6">
            <h4>Download</h4>
            <ul class="list-inline button-list">
              <li>
                <a class="btn btn-primary btn-lg" href="#">
                  <img src="<%= asset_path "spectrum/app/apple-badge.png" %>" alt="">
                </a>
              </li>
              <li>
                <a class="btn btn-primary btn-lg" href="#">
                  <img src="<%= asset_path "spectrum/app/google-play-badge.png" %>" alt="">
                </a>
              </li>
            </ul>
          </div>
          <div class="col-md-3">
            <h4>Social</h4>
            <ul class="list-inline">
              <li>
                <a href="#" class="btn btn-social-light btn-facebook"><i class="fa fa-fw fa-facebook"></i></a>
              </li>
              <li>
                <a href="#" class="btn btn-social-light btn-twitter"><i class="fa fa-fw fa-twitter"></i></a>
              </li>
              <li>
                <a href="#" class="btn btn-social-light btn-dribbble"><i class="fa fa-fw fa-dribbble"></i></a>
              </li>
              <li>
                <a href="#" class="btn btn-social-light btn-google-plus"><i class="fa fa-fw fa-google-plus"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="lower">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <span class="small">Copyright &copy; 2014 - Start Bootstrap Themes. All Rights Reserved.</span>
          </div>
        </div>
      </div>
    </div>
  </footer>