<!-- This sample uses a basic parallax section as the header instead of one of the built in header's! -->
<section class="bg-parallax-dark" style="background-image: url(<%= @board.header_image.url %>);" data-stellar-background-ratio="0.5" data-stellar-vertical-offset="50">
  <div class="container">
    <div class="padding-top hidden-xs"></div>
    <div class="row">
      <div class="col-md-6 col-md-offset-3 text-center" data-scrollreveal="enter left over 1s">
        <h1><%= @board.name %></h1>
        <p class="board-address">
          <%= link_to "#{@board.stages.first.place.formatted_address}".html_safe, "#map-canvas", :alt => "Map of venue location", :class =>"scrollto address-tooltip", :rel => "tooltip", "data-placement" => "bottom", :title => "Click to see map" %>
        </p>
        <p class="ext-links-fontawesomed">
          <% if @board.ext_links.count > 0 %>
            <%= @board.ext_links_fontawesomed %>
          <% end %>
        </p>
      </div>
    </div>
  </div>
</section>

<section id="showboard" class="services-3 bg-lighter">
  <div class="container">
    <div class="row text-center">
      <div class="col-xs-6 col-xs-offset-3">
        <h2>Showboard</h2>
        <hr class="primary">
        <br>
      </div>
      <div class="col-xs-3">
        <% if user_signed_in? && current_user.boarder?(@show.board) && current_user.board_role(@show.board) == "owner" %>
          <%= link_to "+ Add Show", new_board_show_path(@board), :class => "btn btn-primary btn-add-show" %>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <%= render @shows %>
        <%= will_paginate @shows %>
      </div>
    </div>
  </div>
</section>

<iframe
  id="map-canvas"
  width="100%"
  height="300"
  frameborder="0" style="border:0"
  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyB7grClbBKAv-FBjK8GWXXKjCI0-tHG63s
    &q=<%= @board.stages.first.place.name.gsub(" ","+") + @board.stages.first.place.formatted_address.gsub(" ", "+")  %>">
</iframe>