<%= javascript_include_tag :purchaseTicketsLoggedOut %>

<span>Purchase <%= @tickets.count %> tickets for <%= number_to_currency(@amount, unit:"$") %></span>
<br>

Have an account?
<br>
<%= link_to 'Log in and Purchase', new_user_session_path(:reserve_code => @reserve_code) %>
<br><br>
Don't have an account?
<%= link_to 'Register and purchase', new_user_registration_path(:reserve_code => @reserve_code) %>
<br>
or continue and purchase as a guest
<br>
<br>

<script src="https://checkout.stripe.com/v2/checkout.js"></script>
<form role="form">
  <div class="row">
    <legend>Form title</legend>

    <div class="form-group col-md-3">
        <label for="tip-sb">Ticket/s (Bands/Venue)</label>
        <input name="amount-product" id="amount-product" type="text" class="form-control bfh-number" data-min="<%= @amount.to_i %>" value="1">

        <label for="tip-sb">Showboarder Tip</label>
        <input name="amount-sb" id="amount-sb" type="text" class="form-control bfh-number" data-min="0" value="1">

        <label for="tip-charity">Little Kids Rock Foundation</label>
        <input name="amount-charity" id="amount-charity" type="text" class="form-control bfh-number" data-min="0" value="1">
    </div>
  </div>
</form>

Total: <span id="amount-total"></span>
<div class="row">
  <div class="col-md-12">
    <button id="stripeButton">Purchase</button>
  </div>
</div>


<div class="row">
  <div id="payment-errors" class="alert" style="<%= sale.errors.any? ? '' : 'display: none;' %>">
    <% sale.errors.full_messages.each do |msg| %>
      <span><%= msg %></span>
    <% end %>
  </div>
</div>
