<%= form_tag board_show_reserve_path(@board, @show) do %>
  <article>
    <label class="amount">
      <span>Purchase <%= @quantity %> tickets for <%= @amount %></span>
    </label>
  </article>
  <%= label(:ticket, :quantity) %>
  <%= number_field_tag 'quantity', params[:quantity] %>
  <%= submit_tag(value="zoop") %>
<% end %>
