<% if user_signed_in? %>

<% else %>

Have an account?
<br>
<%= link_to 'Log in and Purchase', new_user_session_path(:reserve_code => @reserve_code) %>
<br><br>
Don't have an account?
<%= link_to 'Register and purchase', new_user_registration_path(:reserve_code => @reserve_code) %>
<br>
or continue and purchase as a guest
<br>
<br>

<% end %>

<br>
<br>
<%= @tickets.count %> TICKETZZZSZZS
<%= render 'shows/purchase_tickets' %>
<br>
<% @tickets.each do |t| %>
<%= t.attributes %>
<% if t.reserved_at %>
<script>
$(function () {
  var expiration = new Date();
  expiration = new Date(<%= (t.reserved_at + 15.minutes).to_i * 1000 %>);
  $('#defaultCountdown<%= t.id %>').countdown({until: expiration, format:'MS', compact:'true'});
});
</script>
<% end %>
<div id="defaultCountdown<%= t.id %>"></div>
<br>
<br>
<% end %>