<%= javascript_include_tag :ticketCheckout %>
<section>
  <div class="container eternity-form">
    <div class="login-form-section">
      
      <div class="login-content">
        <div class="section-title">
          <h3>Purchase <%= @tickets.count %> tickets for <%= number_to_currency(@amount, unit:"$") %></h3>
        </div>
        <% if user_signed_in? %>
        <%= render 'shows/purchase_tickets_logged_in', :sale => @sale %>
        <% else %>
        <%= render 'shows/purchase_tickets_logged_out', :sale => @sale %>
        <% end %>
        <br>
        
      </div>

      <div class="login-form-links link1">
        <% @tickets.each do |t| %>
          <div id="defaultCountdown<%= t.id %>"></div>
          ticket
        <% end %>
      </div>
    </div>
  </div>
</section>