<%= render 'shows/purchase_tickets' %>
<br>
<% @tickets.each do |t| %>
<%= t.attributes %>
<% if t.reserved_at %>
<script>
$(function () {
  var expiration = new Date();
  expiration = new Date(<%= (t.reserved_at + 15.minutes).to_i * 1000 %>);
  $('#defaultCountdown<%= t.id %>').countdown({until: expiration, format:'MS', compact:'true'});
});
</script>
<% end %>
<div id="defaultCountdown<%= t.id %>"></div>
<br>
<br>
<% end %>