<%= javascript_include_tag :showForm %>
<%= javascript_include_tag :eForm %>

<section>
  <div class="container eternity-form">
    <div class="login-form-section">
      <div class="login-content">
        <div class="section-title">
          <h3>Update Show</h3>
        </div>

        <%= simple_nested_form_for [@board, @show], html:{id:"show-form"} do |f| %>
          <%= render 'shared/error_messages', object: f.object %>
          <div id="form-errors" class="alert alert-warning" style="display:none;">
          </div>

          <div class="clearfix">
            <div class="textbox-wrap textbox-wrap-show">
              <label for="show-date">Show Date</label> 
              <div class="input-group date">
                <input type="text" id="show-date" name="show_date" class="form-control" value="<%= f.object.show_at.localtime.strftime("%m/%d/%Y") %>"> <span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
              </div>
            </div>

            <div class="textbox-wrap textbox-wrap-show">
              <label for="door-time">Door Time</label> 
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-clock-o"></i></span>
                <input type="time" name="door_time" id="inputDoor-Time" class="form-control" required="required" value="<%= f.object.door_at.in_time_zone(f.object.board.timezone).strftime("%H:%M") %>">
              </div>
            </div>

            <div class="textbox-wrap textbox-wrap-show">
              <label for="show-time">Show Time</label> 
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-clock-o"></i></span>
                <input type="time" name="show_time" id="inputShow-Time" class="form-control" required="required" value="<%= f.object.show_at.in_time_zone(f.object.board.timezone).strftime("%H:%M") %>">
              </div>
            </div>

            <div class="textbox-wrap textbox-wrap-show">
              <%= f.label :min_age, "Minimum age" %>
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-unsorted"></i></span>
                <%= f.select :min_age, options_for_select(["All ages", "18+", "21+"], f.object.min_age), {}, {:class => 'form-control'} %>
              </div>
            </div>

            <%= f.fields_for :ext_links do |fb| %>
              <div class="textbox-wrap textbox-wrap-show text-center">
                <%= fb.label :ext_site, "Facebook event link (optional)" %>

                <%= fb.input :ext_site, value: "Facebook", as: :hidden %>
                <div class="input-group">

                <span class="input-group-addon"><i class="fa fa-link"></i></span>
                <%= fb.input :url, input_html: {:style => "display:inline;"}, label: false, placeholder:"URL", wrapper: false %>
                  <br>
                </div>
              </div>
            <% end %>
<!-- 
            <div class="textbox-wrap textbox-wrap-show">
              <%= f.label :price_adv, "Online Ticket Price ($)" %>
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-dollar"></i></span>
                <%= f.number_field :price_adv, :class => 'cost form-control bfh-number', :value => f.object.price_adv.to_i || 0, data_min: "0", data_max: "200" %>
              </div>
            </div>

            <div class="textbox-wrap textbox-wrap-show">
              <%= f.label :price_door, "Door Ticket Price ($)" %>
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-dollar"></i></span>
                <%= f.number_field :price_door, :class => 'cost form-control bfh-number', :value => f.object.price_door.to_i || 0, data_min: "0", data_max: "200" %>
              </div>
            </div> -->

            <div class="textbox-wrap textbox-wrap-show">
              <%= f.label :title, "Show Title (Optional)" %>
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-pencil"></i></span>
                <%= f.input :title, style:"display:inline;", label: false %>
              </div>
            </div>

            <%= f.fields_for :acts do |ff| %>
              <div class="panel panel-primary">
                <div class="panel-heading text-center">
                  <h4>Act</h4>
                </div>

                <%= ff.input :echonest_id, as: :hidden %>

                <div class="textbox-wrap">
                  <%= f.label :price_door, "Act Name" %>
                  <div class="input-group">
                    <span class="input-group-addon "><i class="fa fa-music icon-color"></i></span>
                    <%= ff.input :name, :type => "text", :name => "bandinput", :id=> "bandinput", :class=> "form-control", :required=> "required", label: false %>
                  </div>
                  <span class="help-block text-center">
                    Suggestions will drop down as you type
                    <br>
                    Select to auto-fill <%= link_to "echonest", "http://www.echonest.com", :target => "blank" %> data
                  </span>
                </div>

                <%= ff.fields_for :ext_links do |fff| %>
                <p class="text-center ext-link-fields">
                  <%= fff.select :ext_site, options_for_select(%w[Homepage Lastfm Twitter Myspace Wikipedia Musicbrainz Soundcloud Bandcamp Youtube Facebook], fff.object.ext_site), {}, {:class => "form-control ext-link-select"} %>

                  <%= fff.input :url, input_html: {:style => "display:inline;max-width:180px;"}, label: false, placeholder:"URL", wrapper: false %>
                  <%= fff.link_to_remove "<i class=\"fa fa-minus-circle\"></i>".html_safe, class: "btn-ext-link-remove" %>
                </p>

                <% end %>
              <div class="text-center">
                <button type="button" id="btn-echoclear" class="btn btn-default btn-echoclear btn-echoclear-hide">Clear echonest data</button>
              </div>

              <p class="text-center"><%= ff.link_to_add "<i class=\"fa fa-plus\"></i> Add a link".html_safe, :ext_links, class: "btn btn-success" %></p>

              <p class="text-center"><%= ff.link_to_remove "Remove this act", class: "btn btn-danger" %></p>
              </div>
            <% end %>
          <p class="text-center"><%= f.link_to_add "<span><i class=\"fa fa-plus\"></i> Add an act".html_safe, :acts, class: "btn btn-success" %></p>

          <p class="text-center"><%= f.submit "Update show", class: "btn btn-large btn-primary" %></p>
          <p class="text-center"><%= link_to "Delete show", [@board, @show], method: :delete, id: @show.id,
                                         data: { confirm: "Are you sure you would like to delete this show?  This cannot be undone." },
                                         title: @show.id, class: "btn btn-large btn-danger" %></p>
          </div>
        <% end %>

    </div>
  </div>
</section>