<%= javascript_include_tag :showForm %>
<%= javascript_include_tag :newShowForm %>
<div class="row">
  <div class="col-md-6 col-md-offset-3 text-center">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h4>Add a show</h4>
    </div>
    <br>
    <div class="panel-body">
      <%= simple_nested_form_for [@board, @show], html:{id:"show-form"} do |f| %>
        <%= render 'shared/error_messages', object: f.object %>

        <div class="form-group">
          <%= f.label :ticketing_type, class: "" %>
          <%= f.select :ticketing_type, options_for_select(%w[Ticketed Free None]), {}, {:class => 'form-control'} %>
        </div>

        <div class="form-group">
          <label for="show-date">Show Date</label>  
          <div class="input-group date">
            <input type="text" id="datez" name="show_date" class="form-control"><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
          </div>
        </div>

        <div class="form-group">
          <label for="door-time">Door time</label>
          <input type="time" name="door_time" id="inputDoor-Time" class="form-control" value="19:00" required="required" title="">
        </div>

        <div class="form-group">
          <label for="show-time">Show Time</label>
          <input type="time" name="show_time" id="inputShow-Time" class="form-control" value="20:00" required="required" title="">
        </div>


        <div class="form-group">
          <%= f.label :price_adv, "Online Ticket Price ($)" %>
          <%= f.text_field :price_adv, :class => 'cost form-control bfh-number', :value => (number_with_precision(f.object.price_door, :precision => 2) || 0), data_min: "0", value: "10" %>
        </div>

        <div class="form-group">
          <%= f.label :price_door, "Door Ticket Price ($)" %>
          <%= f.text_field :price_door, :class => 'cost form-control bfh-number', :value => (number_with_precision(f.object.price_door, :precision => 2) || 0), data_min: "0", value: "10" %>
        </div>

          <%= f.fields_for :acts do |ff| %>
          <div class="panel panel-success">
            <%= ff.input :echonest_id, as: :hidden %>
            <%= ff.input :name, :type => "text", :name => "bandz", :id=> "bandz", :class=> "form-control", :value=> "", :required=> "required", :pattern=> "", :title=> "" %>

            <button type="button" id="btn-echoclear" class="btn btn-default btn-echoclear">Clear echonest data</button>

            <%= ff.fields_for :ext_links do |fff| %>
            <br>
            <br>
              <%= fff.select :ext_site, options_for_select(%w[Homepage Lastfm Twitter Myspace Wikipedia Musicbrainz Soundcloud Bandcamp Youtube Facebook]), {}, {:class => "form-control"} %>
              <%= fff.input :url %>
              <%= fff.link_to_remove "Remove this link" %>
            <% end %>
          </div>

          <p><%= ff.link_to_add "Add a link", :ext_links %></p>

        <%= ff.link_to_remove "Remove this act" %>

        <% end %>
        <p><%= f.link_to_add "Add an act", :acts %></p>

        <%= f.submit "Add show", class: "btn btn-large btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>

