<h1>Add a show</h1>
<br>
<%= simple_nested_form_for [@board, @show] do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  
  <%= f.label :ticketing_type %>
  
  <%= f.select :ticketing_type, options_for_select(%w[Ticketed Free]) %>

  <%= f.input :show_at %>

  <%= f.label :price_adv %>
  <%= f.text_field :price_adv, :class => 'cost', :value => (number_with_precision(f.object.price_door, :precision => 2) || 0) %>

  <%= f.fields_for :acts do |ff| %>    
    <%= ff.input :musicbrainz_id, as: :hidden %>
    <%= ff.input :name %>
    <%= ff.input :email %>

    <%= ff.fields_for :ext_links do |fff| %>
      <%= fff.select :ext_site, options_for_select(%w[Twitter Facebook Youtube Homepage Soundcloud Bandcamp]) %>
      <%= fff.input :url %>

      <%= fff.link_to_remove "Remove this link" %>
    <% end %>
    <p><%= ff.link_to_add "Add a link", :ext_links %></p>

  <%= ff.link_to_remove "Remove this act" %>

  <% end %>
  <p><%= f.link_to_add "Add an act", :acts %></p>

  <%= f.submit "Add show", class: "btn btn-large btn-primary" %>
<% end %>