<h1>Show#show</h1>

<%= link_to "Back to Showboard", @show.board %>
<br>
<% if user_signed_in? %>
<% if current_user.boarder?(@show.board) %>
<%= render 'enable_ticketing_button' %>
<% end %>

<% end %>
<br>

<% if @show.ticketing_type == "paid" %>
  <%= render 'reserve_tickets_button' %>
<% elsif @show.ticketing_type == "pwyw" %>
<% elsif @show.ticketing_type == "rsvp" %>
<% else %>
This show is free!
<% end %>

<p>Find me in app/views/show/show.html.erb</p>
<br>
<%= @show.acts.each do |b| %>
  <%= b.attributes %>
<% end %>
<br>
<%= number_to_currency(@show.price_adv, unit:"$") %>