<h1>Show#show</h1>
<%= link_to "Back to Showboard", @show.board %>
<br>
<% if user_signed_in? %>
<% if current_user.boarder?(@show.board) %>
<%= render 'enable_ticketing_button' %>
<% end %>

<% end %>
<br>

<%= render 'reserve_tickets_button' %>

<p>Find me in app/views/show/show.html.erb</p>
<br>
<%= @show.acts.each do |b| %>
  <%= b.attributes %>
<% end %>
<br>
<%= number_to_currency(@show.price_adv, unit:"$") %>