<section id="show">
<div class="container">
<div class="row">
  <div class="col-xs-12 text-center">
    <% if @show.title %>
      <h1>
        <%= @show.title.upcase %>
      </h1>
    <% end %>
    <br>
    <% if @show.title %>
      <h2>
        <%= @show.show_at.to_time.strftime('%B %e') %> at <%= link_to "#{@show.board.name}", @show.board %></h1>
      </h2>
    <% else %>
      <h1>
        <%= @show.show_at.to_time.strftime('%B %e') %> at <%= link_to "#{@show.board.name}", @show.board %></h1>
      </h1>
    <% end %>
    <br>
    <% if @show.acts.count > 0 %>
      <h2>
        <% @show.acts.each do |a| %>
          <%= link_to a.name.to_s, a %>
          <% if a != @show.acts.last %>
            -
          <% end %>          
        <% end %>
      </h2>
    <% end %>
    <br>
      
    <h3>
      Doors <%= @show.door_at.to_time.in_time_zone(@show.board.timezone).strftime('%l:%M %p') %> - Show <%= @show.show_at.to_time.in_time_zone(@show.board.timezone).strftime('%l:%M %p') %>
    </h3>

    <h3>
      <% if @show.price_adv != @show.price_door %>
        <%= number_to_currency(@show.price_adv, unit:"$", :precision => 0) %> advance - <%= number_to_currency(@show.price_door, unit:"$", :precision => 0) %> at the door
      <% elsif  @show.price_adv.to_i == 0 && @show.price_door.to_i == 0  %>

      <% else %>
        <%= number_to_currency(@show.price_adv, unit:"$", :precision => 0) %> advance or at the door
      <% end %>

    </h3>
    <br>


    <a href="https://twitter.com/share" class="twitter-share-button" data-text="Excited for this show at <%= @show.board.twitter_or_name %> <%= @show.acts_twitter_or_name %>" data-via="showboarder" data-size="large">Tweet</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

    <h3>
      <% if @show.ext_links.count == 1 %>
        <%= link_to "<i class=\"fa fa-facebook-square\"></i>".html_safe + "  Facebook Event Page", @show.ext_links.first.url, target: "_blank" %>
      <% end %>
    </h3>
    <% if user_signed_in? %>

    <% end %>
    <br>

    <% if @show.ticketing_type == "Ticketed" || @show.ticketing_type == "paid" %>
      <%= render 'reserve_tickets_button' %>
    <% else %>
      <h3>This show is free!</h3>
    <% end %>

    <% if user_signed_in? && current_user.boarder?(@show.board) && (current_user.board_role(@show.board) == "owner" || current_user.board_role(@board) == "manager") %>
      <p>
        <br>
        <br>
        <%= link_to "Edit show", edit_board_show_path(@board, @show) %>
      </p>
    <% end %>
  </div>
  </div>
</div>
</section>
<script>
  $(function() {
    var reservePriceUpdate = function() {
      var reservePrice = 0
      var btnString = ""

      reservePrice = parseInt($('.ticket-reserve').val() * <%= @show.price_adv %>)

      btnString = "$" + reservePrice.toString() + " Proceed to Checkout"
      $('.btn-reserve').val(btnString)
    }
    reservePriceUpdate();

    $('.ticket-reserve').change(function() {
      reservePriceUpdate();
    })
  });
</script>