<section>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-center">

        <h1>Purchase complete!</h1>

        <p>Thanks for your purchase! You'll receive a confirmation email shortly with your receipt.</p>

        <p>All tickets are will call only, so just show up at the door with a photo ID and you're ready to go!</p>

        <p>If you have questions or concerns, feel free to contact us at <%= mail_to "contact@showboarder.com" %>
        <br>
        and reference sale ID <%= @sale.guid %></p>

        <h3>
        <a href="https://twitter.com/share" class="twitter-share-button" data-text="Excited for this show at <%= @sale.actionee.tickets.first.show.board.twitter_or_name %> <%= @sale.actionee.tickets.first.show.acts_twitter_or_name %>" data-via="showboarder" data-size="large">Tweet</a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
        </h3>

        <p>
          <%= link_to "Return to #{@sale.actionee.tickets.first.show.board.name}'s Showboard", @sale.actionee.tickets.first.show.board, class: "btn btn-primary" %>
        <br>

        <%= link_to "Return to this show's event page", board_show_path(@sale.actionee.tickets.first.show.board, @sale.actionee.tickets.first.show), class: "btn btn-primary" %>
        </p>
      </div>
    </div>
  </div>
</section>